html{

}

body{
  background-color: #aaaaaa;
  margin: 0;
}

nav{
  border: 0.1rem solid blue;
  position: fixed;
  width:100%;
  top: 0;
  padding: 1rem;
}

a{
  padding: 1rem;
}

#nav-right{
  float: right;
}

section{
  border: 0.1rem solid red;
  height: 100vh;
}

#landing{
  background-image: url('../images/02.png');
  background-position: center;
  background-size: cover;
}

#testimonial{
  background-image: url('../images/vr2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  backface-visibility: visible;
}
img {
opacity: 0.6;
filter: alpha(opacity=50);
width: 100%;
height: 100%;
}

h1 {
font-size: 250%;
font-family: monospace;
text-align: center;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  width: 20%;
  height: 30%;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
