#feature {
	background-color: #fff;
	width: 100%;
	height: 100vh;
}

.feature-container {
	width: 85%;
	height: 100%;
	margin: 0 auto;
	margin-top: 15vh;
	clear: both;
}
.helper {
	display: flex;
	justify-content: space-between;
}

.section-title {
	font-size: 3vmin;
	text-align: center;
	color: #bdbdbd;
}

.section-sub-title {
	margin: 5vmin 0;
	color: #767676;
	text-align: center;
	font-size: 3vw;
	font-weight: 500;
}

.feature-list {
	margin-top: 3%;
	width: 85%;
}

.feature-list > ul > li {
	padding: 1vh 1vw;
	color: #727272;
	list-style: none;
	font-size: 2.7vmin;
	margin-bottom: 2vh;
}

.icon-subject {
	margin-top: 5vh;
	margin-left: 5vw;
	width: 7vw;
	height: 15vh;
}
.app-preview {
	width: 38vmin;
	height: 65vmin;
}
/* instruction  */

#instructions {
	position: relative;
	width: 100%;
	height: 100vh;
	color: #fff;
	letter-spacing: 0.2vw;
}
.instruct-img {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('assets/instructions.png');
	background-size: cover;
	position: relative;
	top: 11rem;
	width: 100%;
	height: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.title-instruct {
	margin: 1vh;
	font-size: 2vw;
}
.sub-title-instruct {
	margin: 1vh;
	font-size: 3.8vw;
}
.button-instruct,
.button-submit {
	margin: 1.5vh;
	color: #fff;
	background-color: #e28d9a;
	padding: 0.5rem;
	width: 15vmin;
	height: 7vmin;
	border-radius: 30px;
	font-size: 1.8vmin;
}

/* testimonial */

#testimonial {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.testimonial-content {
	width: 85vw;
	height: 90vh;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
}
.title-container {
	height: 20vh;
}

.sliders-container {
	width: 50vw;
	height: 80vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icon-teacher {
	padding-top: 2vh;
	width: 35%;
}
.slide-card {
	text-align: center;
	width: 70%;
	height: 55vh;
	border-radius: 1%;
	color: #434343;
	background-color: #f6f6f6;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}

.button-next-container {
	text-align: center;
}

.button-next {
	outline: none;
	border: none;
	color: white;
	border-radius: 10rem;
	width: 4vw;
	height: 2rem;
	font-size: 1.5rem;
	background-color: pink;
}

.teacher-name {
	flex: 0 1 auto;
	margin: 0;
	font-size: 3.2vmin;
	font-weight: bold;
}
.teacher-from {
	margin: 0;
	font-size: 2.2vmin;
}
.review {
	margin: 0;
	font-size: 2vmin;
	font-style: italic;
}
.text-box {
	padding: 1vw 4vw;
}

/* pricing */

#pricing {
	width: 100%;
	height: 100vh;
}
.pricing-content {
	margin-top: 5%;
	width: 100%;
	height: 80%;
}
.container-columns {
	margin: 5% auto;
	width: 90%;
	height: 60%;
}
.column {
	float: left;
	width: 30%;
	margin-left: 3%;
}
.price {
	border-radius: 15px;
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
	color: #434343;
	font-size: 3vmin;
	font-weight: bold;
}

.price li {
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
	font-size: 2.5vmin;
}

/* contact */

#contact {
	width: 100%;
	height: 100vh;
	color: #fff;
	letter-spacing: 0.1vw;
}

canvas {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	left: 0;
	background-color: black;
}

.form-container {
	top: 20%;
	z-index: 999;
	position: relative;
	width: 45%;
	height: 65vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #000000;
	opacity: 0.9;
	margin: auto;
	border-radius: 25px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

input,
textarea {
	border-style: solid;
	outline: none;
	cursor: pointer;
	border-color: #eeeeef;
	width: 80%;
	margin: 0.8vh;
	border-radius: 0.5rem;
}

input {
	height: 7vh;
}
textarea {
	height: 25vh;
}
input::placeholder,
textarea::placeholder,
input,
textarea {
	font-size: 2vmin;
}

.button-submit {
	background-color: #f58092;
	font-size: 2.4vmin;
	padding: 1vh;
	width: 15vmin;
}

.form-title {
	font-size: 5vmin;
}

.form-sub {
	font-size: 4vmin;
}

.container-video-instr {
	display: none;
	background-color: #eeefff;
	position: absolute;
	z-index: 9001;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

iframe {
	width: 90vh;
	height: 55vh;
}
